body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-family: Verdana, Optima, Trebuchet, "Trebuchet MS", Arial, Helvetica, sans;
	font-size: 75%;	/* everything on page is based on 3/4 em */
	font-weight: 100;
}

img.left {
	float:left;
	padding-right:5px;
}
img.right {
	float:right;
	padding-left:5px;
}
img.right_border { 
border: 1px solid #000000;
float:right;}

h1 {
	font-size:1.3em;
	color:#39275B;
	margin-bottom: 0;
}

.menuTitle {
	font-size:1.2em;
	color:#39275b;
	margin: 10px 0px 0px 20px;
	height:100%;
}
ul.menu {
	list-style-type:none; 
	list-style-position:outside;
 	line-height:1.8em;
	text-indent:-20px;
}
blockquote.menu {
	list-style-type:none; 
	list-style-position:outside;
 	line-height:1.8em;
}

.menu {
	color:#000000;
	font-size:.95em;
	padding: 10px 10px 10px 20px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}
.menuSmall {
	color: #000000;
	font-size:.9em;
	line-height:.92em;
	padding: 10px 10px 10px 0px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	
}

.leftImage {
	padding-bottom:10px; border:0px;
}
.center {
	text-align:center;
}
.title {
	margin-top:13px;
	margin-bottom: 5px;
	background:#FFFFFF;
	margin-left: 0px;
	margin-right: 0px;
}
.uwdirectoryText {
	color:#FFFFFF;
	font-size:1.1em;
}


.whitetext {
	color: white;
}
.purpleText {
	color:#39275B;
}
.goldtext {
	color: #ac9c41;
}

a:link {
	text-decoration: none;
	}
a:visited {
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;

}

.spotlight {
	background-image: url(bkg_spotlight.jpg);
	background-repeat: repeat-x;
	width:195px;
	border:1px solid #c6c1d9;
	background-color:#ffffff;
	float:right;
	padding:4px;
	color:#39275B;
	font-size:0.95em;
	line-height:1.2em;
	margin: 0px 0px 8px 8px;
	}
.resources {
	background-image: url(/president/images/bkg_resources.jpg);
	background-repeat: repeat-x;
	width:195px;
	border:1px solid #c6c1d9;
	background-color:#ffffff;
	float:right;
	padding:4px;
	color:#39275B;
	font-size:0.95em;
	line-height:1.2em;
	margin: 0px 0px 8px 8px;
	}
.rightColumn {
	clear:both;
	float:right;
	color:#39275B;
	font-size:0.95em;
	line-height:1.2em;
	padding-left: 3px;
	padding-bottom:10px;
	width: 220px;
	}
.footerText {
	padding: 10px 10px 10px 20px;
	font-size:0.8em;
	color: white; }
.contactUs {width:250px;}

/* ID's for CSS2 Positioning */

#headerContainer {
	position:relative;
	height: 100px;
	background-color: #39275b;
	border-bottom: 6px solid #000000;
	width: 99%;
	margin-bottom: -3px;

}
#logo {
	height: 72px;
	z-index: 0;
	position: absolute;
	padding: 30px 0 0 23px;
}
#logo img {
	text-decoration: none;
	border-width: 0px;
	border-style: none;
}

#headerRight {
	float: right;
	padding: 5px 10px 5px 5px;
	font-size: 0.8em;
	height: 70px;
	text-align:right;
	white-space:nowrap;
	z-index: 2;
	margin: 3px;
	
}
#search {
	float: none;
	padding: 0;
	margin: 0;
}
#search form {
	margin: 8px 0 8px 0;
}
#linksContainer {
	margin: 0px;
	padding: 0px;
}

#container {
	background-image: url(gerberding_bkg.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}
#containerProvost {
	background-image: url(bkg_provost.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}
#containerAdmin {
	background-image: url(/president/images/bkg_administration.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}
#containerExecVicePres {
	background-image: url(/president/images/bkg_execvicepres.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}
#containerVicePres {
	background-image: url(/president/images/bkg_vicepres.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}
#containerExternal {
	background-image: url(/president/images/bkg_external.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}
#containerGlobal {
	background-image: url(/president/images/bkg_global.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}


#containerDiversity {
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}

#containerNoPhoto {
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 778px; /* Keeps gold menu background from expanding beyond menu */
	background-color: #f3ecc2;
	float:left;
}

#NavContainer {
	width:233px;
	background-position:bottom;
	background-repeat:no-repeat;
	height:100%;
	margin-top:3px;
	padding-top:0px;
	float:left;
}

.nobr {white-space:nowrap;}

#mainContainer {
	width:545px;
	height: 100%;
	background:#FFFFFF;
	float: left;
	margin-top: 3px;
	padding-top: 0px;
	padding-bottom: 3px;
	clear:right;
}

#suiteNav {
	width:515px;
	font-size:0.8em;
	padding-top: 7px;
	padding-right: 0px;
	padding-left: 10px;
	background-color: #FFFFFF;
	text-align:left;
}
#contentContainer {
	width:500px;
	padding-top:5px;
	font-size:0.95em;
	height: 100%;
	padding-bottom: 6px;
	margin-left: 25px;
}

#footer {
	clear:both;
	width:99%;
	background-color:#39275B;
}
