/* $Id: slideshow.css,v 1.8 2008/01/04 22:03:10 fmf Exp $ */

div.featslideshowmain p {
	margin: 0 0 5px 0;
	display: block;
    color: white;
    background: transparent;
}
div.featslideshowmain {
    font-style: italic;
	position: relative;
	z-index: 500;
	padding-left: 350px;
	padding-right: 1em;
	width: 400px;
	padding-top: 100px;
}

div.featslideshowmain h2 {
    color: white;
    background: transparent;
    margin: 0 0 0.5em;
    font-weight: normal;
    font-size: 1.4em;
}

div.featslideshowmain a {

    color: #e2d06d;
    background: transparent;
    font-weight: 600;
}
#headerWrap {

	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	background-position: 225px;
}
